<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Define the UAClientEngine configuration section. This part is always the same. -->
  <configSections>
    <section name="UAClientEngine" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <!-- Define the .NET SDK configuration. -->
  <UAClientEngine>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <!-- You can vary the file path and name according to your needs, but you must assure that the referenced file exists
      and contains a valid configuration. If you are including the .NET SDK configurtaion file in your Visual Studio 
      project, do not forget to set "Copy to Output Directory" in its Properties to either "Copy always" or "Copy if newer".
      -->
      <FilePath>MyApplication.Config.xml</FilePath>
    </ConfigurationLocation>
  </UAClientEngine>
</configuration>
